<div class="bigbox">
	<div class="box video">
		<h1><%= @video.title %></h1>
		<div class="videoWrapper">
			<%= @video.content_html.html_safe %>
		</div>
		<p class="show-description">
			<%= @video.description %>
		</p>

		<div class="delete">
	  	<% if user_signed_in? %>
		  	<%= link_to "delete", @video, method: :delete, data: {confirm: "you sure?"} %>
		  <% end %>
	  </div>

		<p class="show-date">
			<%= @video.created_at.strftime("%D") %>
		</p>
	</div>
</div>