  <header class="cd-header">
    <div class="cd-logo"><%= link_to 'Adam Yarger', root_path %></div>

    <a class="cd-primary-nav-trigger" href="#0">
      <span class="cd-menu-text">Menu</span><span class="cd-menu-icon"></span>
    </a> <!-- cd-primary-nav-trigger -->
  </header>

  <nav>
    <ul class="cd-primary-nav">
      <li class="cd-label">Learning and what not</li>

      <li><%= link_to 'Blog Posts', root_path %></li>
      <li><%= link_to 'Videos', videos_path %></li>

      <li class="cd-label">Projects and stuff</li>

      <li><%= link_to 'Contact Me', contact_path %></li>
      <li><%= link_to 'Projects', projects_path %></li>

      <li class="cd-label">Get at me</li>
      
      <li class="cd-social cd-facebook"><a href="https://github.com/adamyarger">Github</a></li>
      <li class="cd-social cd-instagram"><a href="#0">Instagram</a></li>
      <li class="cd-social cd-twitter"><a href="#0">Twitter</a></li>
    </ul>
  </nav>

  

  